body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
}

a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: 80px;
  border-bottom: 1px solid;
}

header nav {
  height: inherit;
}

footer {
  height: 50px;
}

main {
  margin: 100px auto;
}

.logo {
  width: 60px;
}

.cart-toggler {
  position: relative;
}

.cart-toggler span {
  position: absolute;
      top: 35%;
    left: 75%;
    transform: translate(-50%, -50%);
}